{% extends 'core/base.html' %}
{% load static tailwind_tags %}
{% load static %}

{# Title of the page #}
{% block title %}
Procedures
{% endblock %}

{# Body of the page #}
{% block body %}

<main class="flex flex-col gap-6 justify-center items-center h-screen bg-backgroundColor bg-center bg-cover bg-[url(https://github.com/Joel-Fah/images/blob/main/connect_bg.png?raw=true)]">
    {% include 'components/message.html' %}
    <img src="{% static 'core/images/logo_light.svg' %}" alt="Clezigov Logo" class="w-1/2 md:w-1/4" />
    <div class="text-center text-whiteColor/50 text-3xl font-['Eufoniem_one']">
        coming soon to the web...
    </div>
    <span class="text-white">
        {{ request.user.email }}
    </span>
</main>

{% endblock %}